.container {
	width: 100%;
	display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox;      /* TWEENER - IE 10 */
	display: -webkit-flex;     /* NEW - Chrome */
	display: flex; 
	flex-wrap: wrap;
}
header {
	width: 100%;
	height: 60px;
	background-color: blue;
}
.red {
	background-color: red;
	height: 90px;
	width: 100%;
}
.green {
	background-color: green;
	height: 90px;
	width: 100%;
}
.yellow {
	background-color: yellow;
	height: 90px;
	width: 100%;
}

footer {
	width: 100%;
	height: 100px;
	background-color: black;
}

@media screen and (min-width: 500px) {
	header {
		width: 33.33%;
		height: 180px;
		/*order: -1;*/
	}
	#container2 {
		width: 66.66%;
		/*height: 400px;*/
		/*order: 1;*/
	}
}