html { 
 /* -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;*/
}

body {
	/*opacity: 0.6;*/
  /*background: url("ocean.jpg"); 
  background-repeat:no-repeat;
  background-size:contain;
  background-position:center;*/
  background-color: red;

}

header.header {
	background-color: #CC5D59;
	padding: 1em;
	width: 100%;
}

.profile {
	text-align: center;
	/*background-image: url("ocean.jpg");
	background-repeat: no-repeat;
	width: 100%;
	height: auto;
	max-width: 100%;*/
}
.profile img {
	border-radius: 50%;
	border: .2em solid #A74946;
	margin: 1em;
}

.name {
    text-align:  center;
    font-size: xx-large;
    margin: 0px;
    padding: 0px;
}
.small {
	font-size: x-small;
	text-transform: uppercase;
}

.call {
	width: 100%;
	height: 4em;
	border: 1px solid #41CE1B;
	font-size: 1em;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 1em;
}

.text {
	width: 100%;
	height: 4em;
	border: 1px solid rgb(255, 118, 30);
	font-size: 1em;
	text-transform: uppercase;
	text-align: center;
}

.content {
	width: 100%;
	text-align: center;
	padding: 1em;
	margin-top: 1em;
}

a {
    text-transform: uppercase;
    font-size: .75em;
}

ul.dropdown-menu {
    /*display: block;*/
    background-color: black;
    opacity: .8;
    border-radius: 5%;
    margin-top: 1em;
}

.dropdown-menu>li>a {
	display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #F5EAEA;
    white-space: nowrap;
    background-color: #150101;
}


footer {
	text-align: center;
	background-color: #793533;
	color: white;
}

footer a {
	color: white;

}
footer a:hover {
	text-decoration: none;
	color: green;
}



 @media screen and (min-width: 401px) and (max-width: 599px) {
       /* tablets */
        body { background-color: green; }
      }

      @media screen and (min-width: 600px) {
      	/* desktop */
        body { background-color: blue; }
      }