
.box {
	height: 100px;
	text-align: center;
	width: 100%;
	border: 1px solid black;
}

.container {
	display: flex;
	flex-wrap: wrap;
}
.lime { 
	background-color: lime;
}
.dark_blue { 
	background-color: blue; 
}
.red { 
	background-color: red; 
}
.green { 
	background-color: green; 
}

footer {
	background-color: black;
}

@media screen and (min-width: 400px) and (max-width: 750px) {
	header.lime { width: 100%; order: 0; }
	.red { width: 50%; order: 1; }
	.green { width: 50%; order: 2; }
	.lime { width: 33%; order: 3; }
	.dark_blue { width: 66%; order: 4;}
	footer { width: 100%; order: 5; }
}