.container {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}
.box {
	width: 100%;
	height: 100px;
}

.dark_blue {
	background-color: blue;
}

.light_blue {
	background-color: blue;
}
.green {
	background-color: green;
}
.red {
	background-color: red;
}