<!doctype html>
<html>
<head>
<title>Off Canvas</title>
<meta name="viewport" content="width=device-width, inital-scale=1.0">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<link rel="stylesheet" href="./static/styles.css">

</head>

<body>
	<!-- <h2>Jeff Money</h2> -->
	<nav id="drawer" class="dark_blue">
		<h2>Off Canvas</h2>
		<p>Click outside the drawer to close</p>
	</nav>

	<main class="light_blue">
		<a id="menu">
			<i class="fa fa-bars fa-2x bars"></i>
		</a>
		<p>Click on the menu icon to open the drawer</p>
	</main>


	<script type="text/javascript">
		/* Open the drawer when the menu icon is clicked */
		var menu = document.querySelector('#menu');
		var main = document.querySelector('main');
		var drawer = document.querySelector('#drawer')

		menu.addEventListener('click', function(e) {
			drawer.classList.toggle('open');
			e.stopPropagation();
		});
		main.addEventListener('click', function() {
			drawer.classList.remove('open');
		});
	</script>
</body>
</html>